/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ASET 0
#define TEST 1
#define TEST2 2

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp TAB   &kp Q &kp W &kp J &kp F &kp G                                                &kp Y &kp P  &kp U     &kp L   &kp SEMI    &kp LEFT_BRACKET
	&sk LSHFT   &kp A &kp S &kp E &kp T &kp D                                                &kp H &kp N  &kp I     &kp O   &kp R &kp SQT
	&kp LCTRL &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp PSCRN        &kp CAPS &kp LSHFT &kp K &kp M  &kp COMMA &kp DOT &kp FSLH &kp BSLH
	                 &kp LGUI &kp LALT &kp ENTER &kp SPACE &kp ESC        &kp LGUI  &kp BSPC  &kp MINUS &kp C_PLAY_PAUSE &tog 2
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
	keymap {
		compatible = "zmk,keymap";

		test_layer {
// ------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp KP_PLUS   &kp KP_MINUS &kp KP_ASTERISK &kp KP_DIVIDE &kp KP_DOT &kp TILDE2                                                       &kp EXCL &kp AT  &kp HASH &kp DOLLAR   &kp PERCENT &kp CARET
	&kp C_BRI_UP   &kp C_BRI_DN &kp C_FF &kp C_RW &kp T &kp D                                                                       &kp AMPS &kp STAR  &kp LPAR     &kp RPAR   &kp EQUAL &kp PLUS
	&kp C_AC_BACK &kp K_BACK &kp C_AC_CLOSE &kp C_AC_SEARCH &kp C_AC_ZOOM_IN &kp K_WWW  &kp LSHFT &kp GRAVE      &kp TILDE &kp LSHFT &kp DQT &kp COLON &kp PIPE2 &kp NON_US_BSLH &kp UNDER &kp MINUS
	                                             &kp C_AL_WWW &kp C_AL_FILES &kp K_CALC &kp C_SLEEP &kp ESC      &kp LBRC  &kp NON_US_HASH  &kp GT &kp LT &tog 1
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
	
	
	keymap {
		compatible = "zmk,keymap";

		test_layer2 {
// ------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp QMARK   &kp PIPE &kp RBKT &kp RBRC &kp C_AL_NEXT_TASK &kp C_AL_PREV_TASK                                                                                  &kp K_CALC &kp C_AL_NEWS  &kp C_AL_DATABASE &kp C_AL_TASK_MANAGER &kp C_AL_AV_CAPTURE_PLAYBACK &kp C_AL_SCREEN_SAVER
	&kp C_AL_SELECT_TASK   &kp C_AL_MY_COMPUTER &kp C_AL_DOCS &kp C_AL_FILES &kp C_AL_WWW &kp K_WWW                                                                       &kp C_AL_KEYBOARD_LAYOUT &kp C_AL_CONTROL_PANEL  &kp C_AL_HELP     &kp K_HELP   &kp C_AL_CCC &kp C_AL_TIPS
	&kp C_AL_EMAIL &kp C_AL_INSTANT_MESSAGING &kp C_AL_CHAT &kp C_AL_CONTACTS &kp C_AL_CAL &kp C_AL_IMAGES  &kp LSHFT &kp C_AL_MUSIC         &kp TILDE &kp LSHFT &kp DQT &kp COLON &kp PIPE2 &kp NON_US_BSLH &kp UNDER &kp MINUS
	                                             &kp C_AL_MOVIES &kp C_AL_TEXT_EDITOR &kp C_AL_WORD &kp C_AL_SHEET &kp C_AL_GRAPHICS_EDITOR                      &kp LBRC  &kp NON_US_HASH  &kp GT &kp LT &tog 2
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
