/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ASET 0
#define NAVNUM 1
#define SYM 2
#define MEDIAFN 3
#define APPS 4

/ {
	keymap {
		compatible = "zmk,keymap";

		aset_layer {

			bindings = <	
	&kp TAB   &kp Q &kp W &kp J &kp F &kp G                                                                    &kp Y &kp P  &kp U     &kp L   &kp SEMI    &kp LEFT_BRACKET
	&sk LSHFT   &kp A &kp S &lt MEDIAFN E &kp T &kp D                                                          &kp H &kp N  &kp I     &kp O   &kp R &kp SQT
	&kp LCTRL &kp Z &kp X &kp C &kp V &kp B &none &kp PSCRN                             &kp CAPS &none &kp K &kp M  &kp COMMA &kp DOT &kp FSLH &kp NON_US_BSLH
	                 &kp LGUI &kp LALT &mt LCTRL ENTER &lt NAVNUM SPACE &lt APPS ESC        &sl 2 &lt NAVNUM BSPC &lt NAVNUM AT &kp C_PLAY_PAUSE &kp LC(LA(Q))
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		navnum_layer {

			bindings = <
			&kp LC(Y) &kp LC(A) &kp HOME &kp UP &kp END &kp LC(X) 				&kp GRAVE &kp N7 &kp N8 &kp N9 &kp MINUS &kp EQUAL
			&kp LGUI &kp DEL &kp LEFT &kp BSPC &kp RIGHT &kp LC(V) 				&kp N0 &mt LCTRL N4 &mt LSHFT N5 &mt LALT N6 &kp LEFT_BRACKET &kp RIGHT_BRACKET 
			&kp F2 &kp K_CONTEXT_MENU &kp ENTER &kp DOWN &kp TAB &kp LC(C) &none &none 		&none &none &kp LC(W) &kp N1 &kp N2 &kp N3 &kp FSLH &kp NON_US_HASH  
				&bootloader &reset &none &none &none			&mt RALT ESC &mt LSHFT N0 &kp LA(SPACE) &bootloader &reset 
			
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
	
	keymap {
		compatible = "zmk,keymap";

		sym_layer {

			bindings = <
			&kp &kp &kp &kp &kp &kp 				&kp &kp &kp &kp &kp &kp 
			&kp &kp &kp &kp &kp &kp 				&kp &kp &kp &kp &kp &kp 
			&kp &kp &kp &kp &kp &kp &kp &kp 		&kp &kp &kp &kp &kp &kp &kp &kp 
				    &kp &kp &kp &kp &kp	        	&kp &kp &kp &kp &kp 
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
	
	keymap {
		compatible = "zmk,keymap";

		mediafn_layer {

			bindings = <
			&kp &kp &kp &kp &kp &kp 				&kp &kp &kp &kp &kp &kp 
			&kp &kp &kp &kp &kp &kp 				&kp &kp &kp &kp &kp &kp 
			&kp &kp &kp &kp &kp &kp &kp &kp 		&kp &kp &kp &kp &kp &kp &kp &kp 
				    &kp &kp &kp &kp &kp	        	&kp &kp &kp &kp &kp 
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
	
	keymap {
		compatible = "zmk,keymap";

		app_layer {

			bindings = <
			&none &none &none &none &none &none 				&none &none &none &none &none &none 
			&none &none LA(F4) &kp LC(W) &kp LC(TAB) &kp LC(LS(TAB)) &none 				&none &none &none &none &none &none
			&none &kp LALT &kp SPACE &kp LS(TAB) &kp TAB &none &none &none 		&none &none &none &none &none &none &none &none 
				    &none &none &none &none &none &none &none &none &none &none 
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
	
};
